#presentation {
	display: block;
}

#reminders {
	display: block;
	height: 500px; /* temporary */
}

#potw {
	display: block;
	text-align: left;
	height: 500px; /* temporary */
}

#potw ul {
	list-style:none;
}

#slide {
	display: inline-block;
}

.present-link {
	color: #333745;
	text-decoration: none;
	display: block;
}

.present-link:hover {
	font-weight: bold; 
}