.officer {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0px 3%;
}

#melody {
	background-image: url("http://placehold.it/150x150");
}

#gary {
	background-image: url("http://placehold.it/150x150");
}

#andrew {
	background-image: url("http://placehold.it/150x150");
}

#chris {
	background-image: url("http://placehold.it/150x150");
}