.officer {
    margin:25px 0px 25px 0px;
	background-color: #acacac;
	padding: 20px;
	overflow: hidden;
}

.pics {
	float: left;
	width: 500px;
	height: 500px;
	border-width: 5px;
	border-color: #115157;
	border-style: solid;
	margin-right: 50px;
}

.namebio {
	font-size: 1.5em;
	overflow: hidden !important;
	text-align: left;
}

#melody {
	background-image: url("http://placehold.it/500x500");
}

#gary {
	background-image: url("http://placehold.it/500x500");
}

#andrew {
	background-image: url("http://placehold.it/500x500");
}

#chris {
	background-image: url("http://placehold.it/500x500");
}