* {
	margin: 0;
	padding: 0;
	overflow: auto;
}

body {
	background-color: #daede2;
	font-family: "TrendSansOne";
}

p {
	font-family: "Proxima Nova Light" !important;
}

/*Navigation Bar*/
.navbar {
	position: static;
	background-color: #333745;
	list-style: none;
	text-align: center;
	font-size:20px;
	width: 100%;
	margin-bottom: 0px;
	padding: 10px 0px 10px 0px;
	height: 500px;
}

.navbar ul {
	margin-top: 470px;
	padding: 0;
	position: relative;
}

.navbar li {
	position: inherit;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.navbar a {
	display: block;
	text-decoration: none;
	color: #f6f792;
	padding: 5px 50px 5px 50px;
}

.navbar a:hover, .current {
	text-decoration: underline;
	color: #f6f792;
}
/*nav bar end*/

.container {
	text-align: center;
	color: #333745;
	position: static;
	display: block;
	margin:0px 125px 0px 125px;
}

.intro {
	background-image: url("http://placehold.it/500x500");
	width: 100%;
	height: 400px;
	text-align: center;
	vertical-align: middle;
	line-height: 400px;
}

.content {
	display: block;
	margin: 25px 0px 25px 0px;
	overflow: auto;
	color: #333745;
}

.content h1, h2, p {
	text-align:left;
	line-height: 1.5;
}

.content h1 {
	font-size: 40px;
	position: relative;
	top: 0;
	vertical-align: top;
}

.content p {
	font-size: 20px;
}

.index-info {
	display: inline-block;
	float: left;
	width: 50%;
}

.index-pic {
	display: inline-block;
	float: right;
}

/* Fonts */
@font-face {
	font-family: "PT Serif";
	src: url("fonts/pt-serif/PTF55F.ttf");
}

/*for headings and bold text*/
@font-face {
	font-family: "TrendSansOne";
	src: url("fonts/trendsansone.woff");
}

/*for informational text*/
@font-face {
	font-family: "Proxima Nova Light";
	src:url("fonts/proxima-nova/ProximaNova-Light.otf");
}
/*fonts end*/