@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Lobster');
@import url('http://fonts.googleapis.com/css?family=Merriweather');
@import url('http://fonts.googleapis.com/css?family=Oswald');
@import url('http://fonts.googleapis.com/css?family=Bree+Serif');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: serif;
	background-color: white;
}

.navbar {
	position: static;
	background-color: #fff;
	list-style: none;
	text-align: center;
	font-size:25px;
	margin: 0;
	padding: 50px 0px 50px 0px;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1;
}

.navbar ul {
	display: inline-block;
	padding: 0;
	font-family: serif;
	font-size: 25px;
	text-align: center;
}

.navbar li {
	position: inherit;
	margin: 0;
	padding: 10px 0px 10px 0px;
	list-style: none;
	display: inline;
}

.navbar a {
	display: inline;
	padding: 5px 50px 5px 50px;
	text-decoration: none;
	color: #8e8e8e;
}

.navbar a:hover, .current {
	color: #000 !important;
}

#club-logo {
	display: block;
	text-align: center;
	height: 200px;
	width: 100%;
}

.container {
	text-align: center;
	background-color: transparent;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin-left: 15vw;
	margin-right: 15vw;
	padding: 0px;
}

#intro {
	height: 40vh;
	text-align: center;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: cover;
	font-family: serif;
	line-height: 2;
	position: relative;
	border-width: 5px;
	border-style: solid;
	display: relative;
}

#intro-content {
	position: absolute;
	text-align: center;
	width: 100%;
}

#intro-content h1 {
	font-size: 60px;
	color: #333333;
}

#intro-content h2 {
	text-transform: uppercase;
	font-size: 75px;
	color: #333333;
}

.content {
	padding:;
	line-height: 2;
	font-family: serif;
	overflow: auto;
	color: #333333;
	border-width: 5px;
	border-style: solid;
	position: relative;
}

.content h1, h2 {
	text-align: center;
}

.content p {
	text-align:left;
}

.content h1 {
	font-size: 30px;
	position: relative;
	top: 0;
	vertical-align: top;
}

.content p {
	font-size: 16px;
}

.index-info {
	overflow: hidden;
	position: absolute;
	border-width: 5px;
	border-style: solid;

}

#club-info {
	display: block;
	height: 40vh;
	overflow: hidden;
	border-width: 5px;
	border-style: solid;
}

#club-info > .index-info {
	float: left;
	width: 30%;
}

#meeting-info {
	height: 40vh;
	display: block;
	overflow: hidden;
	border-width: 5px;
	border-style: solid;
}

#meeting-info > .index-info {
	float: right;
	width: 30%;
}

@font-face {
	font-family: "PT Serif";
	src: url("fonts/pt-serif/PTF55F.ttf");
}

@font-face {
	font-family: "TrendSansOne";
	src: url("fonts/trendsansone.woff");
}

@font-face {
	font-family: "Proxima Nova Light";
	src:url("fonts/proxima-nova/ProximaNova-Light.otf");
}

@font-face {
	font-family: 'Lekton';
	src: url('fonts/lekton/Lekton-Regular.ttf');
}
