body {
	background-color: white;
	font-family: 'Slabo 27px', serif;
}

.container {
	text-align: center;
	color: #000000;
	font-size:1.5em;
	display: inline-block;
	width: 66.6666%;
	float:left;
}

.navbar {
	display: inline-block;
	float:left;
	height: 100%;
	width: 33.3333%;
	color:white;
	list-style: none;
	text-align: center;
	background-color: black;
	font-size:2em;
}

.navbar ul {
	margin: 0;
	padding: 0;
}

.navbar li {
	background-color: purple;
	padding: 25px;
	margin: 5px;
	list-style: none;
	list-style-position: outside;
	display: block;
}

.navbar a {
	display: block;
	text-decoration: none;
	color: white;
	display: block;
}

.content {
	margin: 50px;
	display: relative;
}

.content p {
	text-align:left;
	font-family: sans-serif;
}